# 기본 환경 세팅
spring:
  profiles:
    active: local
---
# profile Group
spring:
  profiles:
    group:
      "local": common-config, classpath-property
      "unit-test": common-config, classpath-property
      "dev": common-config, classpath-property, cloud-property
      #"stg": common-config, classpath-property, cloud-property
      "prd": common-config, classpath-property, cloud-property
---
#환경별 공통세팅
spring:
  application:
    name: member-project
  config:
    activate:
      on-profile: common-config
  flyway:
    enabled: false
  data:
    redis:
      host: localhost
      port: 6379
      password:

logging:
  level:
    org.springframework.web.servlet: trace
    #org.springframework.boot.autoconfigure: debug
    com.bubbleshop.member.infrastructure.feign: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
---
# 로컬
spring:
  config:
    activate:
      on-profile: local, default
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: member
    password: welcome
    url: jdbc:mysql://localhost:3307/member
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    #clean-on-validation-error: true
    locations: classpath:db/migration

server:
  port: 8081

host:
  product: localhost:8080
  naver-oauth: https://nid.naver.com
  naver-openapi: https://openapi.naver.com

jwt:
  secret-key: GfXz4pl0WLO/4Dd9OuqUplp7Gogiz6sGMAvU616OFaflZ83xiE2lYnwrGRPd5N5G # TODO AWS secret manager
  expiration-time: 60000           # 15분 (15 * 60 * 1000 = 900000) 테스트용 1분
  refresh-expiration-time: 120000 # 3시간: 3 * 60 * 60 * 1000 = 3600000 테스트용 2분

image:
  url:
    review: https://localhost.localstack.cloud:4566/review
    member: https://localhost.localstack.cloud:4566/member

cloud:
  aws:
    s3:
      host: http://localhost:4566
      access_key: member
      secret_key: welcome
      region: ap-east-1
      bucket-name: member

---
# 유닛 테스트
spring:
  config:
    activate:
      on-profile: unit-test
  datasource:
    driver-class-name: org.h2.Driver
    url: "jdbc:h2:mem:./data/localdb;DB_CLOSE_ON_EXIT=FALSE"
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

host:
  product: localhost:8080

jwt:
  secret-key: GfXz4pl0WLO/4Dd9OuqUplp7Gogiz6sGMAvU616OFaflZ83xiE2lYnwrGRPd5N5G # TODO AWS secret manager
  expiration-time: 3600000 # 1시간: 1 * 60 * 60 * 1000 = 3600000
  refresh-expiration-time: 10800000 # 3시간: 3 * 60 * 60 * 1000 = 3600000

image:
  url:
    review: https://localhost.localstack.cloud:4566/review
    member: https://localhost.localstack.cloud:4566/member

---
# 개발
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username:
    password:
    url:
---
# 운영
spring:
  config:
    activate:
      on-profile: prd
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username:
    password:
    url:
---
# properties 사용을 위한 profile
spring:
  config:
    activate:
      on-profile: classpath-property
    import:
      - optional:file:.env[.properties]
      - classpath:properties/naver/naver-${spring.profiles.active}.yaml
      - classpath:properties/kakao/kakao-${spring.profiles.active}.yaml

---
# cloud properties 사용을 위한 profile
spring:
  config:
    activate:
      on-profile: cloud-property
---
